<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <title> MaC - Logged Home </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
        <div layout:fragment="content">

            <article>
                <h2> <span class="flaticon-phone-call"> </span> - Teléfono de atención al cliente: 717172729</h2>
                <p>
                    Si necesita ayuda o requiere de un asistente social para realizar la ayuda a domicilio,
                    contacte a este teléfono
                </p>
            </article>

            <article>

                <h2>Agradecimiento con galletas y namasté</h2>
                <p>María Antonia de la Fe Viruela es una de las mayores que participa en el proyecto
                    Majors A Casa. Se trata de una veterana pues con su júbilo característico quiso tomar parte
                    desde el inicio del proyecto.
                </p>
                <p> "A mi en van dir si em vindria bé un voluntari per a jugar al parchís i com dir que no" Asegura
                    la entrevistada mientras aspira del artilugio liado. "La felicitat està en un, però quan s'alcança,
                    que millor que compartir l'amor" cierra la anciana.
                </p>

                <article>
                    <p><b>Mark</b>: Los seres humanos sólo extrañamos las cosas buenas que tenemos cuando ya no las tenemos más...</p>
                </article>
            </article>

            <article>
                <h2>No más pollo sin salsa de tomate ViejoPaso</h2>
                <p> Pablo Botella de Rivera, lider de una de las grandes empresas asociadas a MajorsACasa a asegurado que todos
                    los viernes incluira en su menú divertido y saludable pollo especial.
                </p>
                <p> "No se trata de pollo, se trata de una experiencia", nos cuenta el directivo. "Se me ocurrió con mi tío
                    un día pensando en cuáles son las necesidades reales de los ancianos".
                </p>
            </article>

        </div>
</body>





</html>