<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <title> MaC - Alta Empresa </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
<div layout:fragment="content">

    <h2> Formulario de alta a Empresa </h2>
    <hr>

    <div class="container py-10 ml-lg-5 mt-2">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <!--/*@thymesVar id="empresa" type="java"*/-->
                <form action="#" th:action="@{/empresa/add}"
                      th:object="${empresa}" method="post">

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Nombre de Empresa: </label>
                            <input required type="text" class="form-control" th:field="*{nombre}"/>
                        </div>

                        <div class="col-sm-4">
                            <label> NIF del responsable: </label>
                            <input required type="text" class="form-control" th:field="*{nif}"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <td><label> Correo electrónico: </label></td>
                            <td><input required type="text" class="form-control" th:field="*{email}"/></td>
                            <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                        <div class="col-sm-4">
                            <label> Telefono de contacto: </label>
                            <input required type="text" class="form-control" th:field="*{tlf}"/>
                            <div class="error" th:if="${#fields.hasErrors('tlf')}" th:errors="*{tlf}"></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label> Nick de usuario: </label>
                            <input required class="form-control" type="text" th:field="*{nick}"/>
                            <div class="error" th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}"></div>
                        </div>
                        <div class="col-sm-4">
                            <label>Servicio ofertado: </label>
                            <select th:field="*{tipo_empresa}" class="form-control">
                                <option selected th:value="CATERING">CATERING</option>
                                <option th:value="LIMPIEZA">LIMPIEZA</option>
                                <option th:value="SANITARIA">SANITARIA</option>
                            </select>
                        </div>
                    </div>


                        <div class="form-group row">
                        <div class="col-sm-2">
                            <label> Vacantes:  </label>
                            <input required type="number" min="0" class="form-control" th:field="*{vacantes}"/>
                        </div>
                            <div class="col-sm-8">
                            <div class="alert alert-info">
                                Al clicar en <strong>Añadir Empresa</strong>
                                se enviará un correo
                                al email indicado su nick y
                                una contraseña generada por el sistema
                            </div>
                            </div>
                    </div>
                    <!--
                    <input type="radio" th:field="*{tipo_empresa}"  id="tipo1"/>
                    <label th:for="tipo1">Cátering</label><br>

                    <input type="radio" th:field="*{tipo_empresa}"  id="tipo2"/>
                    <label th:for="tipo2"> Limpieza</label><br>

                    <input type="radio" th:field="*{tipo_empresa}"  id="tipo3"/>
                    <label th:for="tipo3"> Sanitaria</label><br>
                    -->



                    <div class="form-group row" style="justify-content:center">
                        <div class="col-sm-6" style="justify-content:center">
                            <td colspan="2">
                                <input type="submit" value="Añadir empresa"/>
                            </td>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

</body>
</html>