<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Lista empresas </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>

<body>
<h1> Listado de empresas </h1>
<table>
    <thead>
    <tr>
        <th> nick</th>
        <th> nombre</th>
        <th> nif</th>

        <th> tlf</th>
        <th> correo</th>
        <th> tipo de empresa</th>

        <th> vacantes</th>




    </tr>
    </thead>
    <tbody>
    <tr th:each="empresa: ${empresas}">
        <td th:text="${empresa.nick}"></td>
        <td th:text="${empresa.nombre}"></td>
        <td th:text="${empresa.nif}"></td>

        <td th:text="${empresa.tlf}"></td>
        <td th:text="${empresa.email}"></td>
        <td th:text="${empresa.tipo_empresa}"></td>

        <td th:text="${empresa.vacantes}"></td>



        <td><a th:href="@{/empresa/update/{nick}(nick=${empresa.nick})}"> Edita </a>
        </td>
        <td><a th:href="@{/empresa/delete/{nick}(nick=${empresa.nick})}"> Elimina </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>