<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Introducir Feedback</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
    <b><h1>Introducción de los datos del servicio</h1></b>
    <div th:switch="${tipo_empresa}">
        <div th:case="'CATERING'">
            <form action="#" th:action="@{/servEmpresa/feedback-catering/{nick}(nick=${demandante})}" method="post">
                <label>Introduzca la hora del servicio: </label><input type="time" th:name="hora_servicio" required>
                <br><input type="submit" value="Aceptar">
            </form>
        </div>
        <div th:case="'SANITARIA'">
            <form action="#" th:action="@{/servEmpresa/feedback-sanitario/{nick}(nick=${demandante})}" method="post">
                <label>Introduzca el día de visita: </label><input type="date" th:name="dia_visita" required>
                <br><label>Introduzca la franja del servicio: </label>
                <input type="radio" th:name="franja" th:value="manana" checked> Mañana
                <input type="radio" th:name="franja" th:value="tarde"> Tarde
                <br><input type="submit" value="Aceptar">
            </form>
        </div>
        <div th:case="*">
            <!-- COLOCAR LISTA DE FRANJAS SEGUN VAYAN METIENDOSE -->
            <table>
                <thead>
                    <th>Dia de la semana</th>
                    <th>Hora inicio</th>
                    <th>Hora finalización</th>

                    <th></th>
                </thead>
                <tbody>
                    <tr th:each="franja: ${franjas_demandante}">
                        <div th:switch="${franja.diaSemana}">
                            <div th:case="'L'">
                                <td>Lunes</td>
                            </div>
                            <div th:case="'M'">
                                <td>Martes</td>
                            </div>
                            <div th:case="'X'">
                                <td>Miércoles</td>
                            </div>
                            <div th:case="'J'">
                                <td>Jueves</td>
                            </div>
                            <div th:case="'V'">
                                <td>Viernes</td>
                            </div>
                            <div th:case="*">
                                <td>ERROR</td>
                            </div>
                        </div>
                        <td th:text="${franja.hIni}"></td>
                        <td th:text="${franja.hFin}"></td>

                        <td><button><a th:href="@{/franja-limpieza/borrar-franja/{nick}/{id}(nick=${demandante}, id=${franja.id_franja})}">Eliminar</a></button></td>
                    </tr>
                </tbody>
            </table>
            <!-- COLOCAR BOTON PARA CREARLAS -->
            <button><a th:href="@{/franja-limpieza/add/{nick}(nick=${demandante})}">Añadir nueva franja</a></button>
            <button><a th:href="@{/servEmpresa/feedback-limpieza/{nick}(nick=${demandante})}">Aceptar</a></button>
            <br>
            <!-- AQUI VA IF DE ERROR EN CASO DE ESTAR LA LISTA VACÍA -->
        </div>
    </div>
</div>
</body>
</html>