<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Lista demandantes </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<h1> Listado de demandantes </h1>
<table>
    <thead>
    <tr>
        <th> nick</th>
        <th> nombre</th>
        <th> edad</th>


        <th> tlf</th>
        <th> correo</th>
        <th> direccion</th>

        <th>cod_asist</th>
        <th>status</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="demandante: ${demandantes}">
        <td th:text="${demandante.nick}"></td>
        <td th:text="${demandante.nombre}"></td>
        <td th:text="${demandante.edad}"></td>

        <td th:text="${demandante.tlf}"></td>
        <td th:text="${demandante.email}"></td>
        <td th:text="${demandante.direccion}"></td>

        <td th:text="${demandante.cod_asist}"></td>
        <td th:text="${demandante.status}"></td>

        <td><a th:href="@{/demandante/update/{nick}(nick=${demandante.nick})}"> Edita </a>
        </td>
        <td><a th:href="@{/demandante/delete/{nick}(nick=${demandante.nick})}"> Elimina </a>
        </td>
        <td>
            <a th:href="@{/demandante/solicitudes/{nick}(nick=${demandante.nick})}">Ver solicitudes</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>