<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title> Lista todos demandantes </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
    <h2> Listado de demandantes en el sistema</h2>
    <hr>
    <div class="container-fluid py-10 mt-2">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th> Nombre</th>
                    <th> Edad</th>
                    <th> Teléfono</th>
                    <th> Correo</th>
                    <th> Direccion</th>
                    <th> Asistente social</th>
                    <th> Estado</th>
                    <!--<th></th>-->

                </tr>
                </thead>
                <tbody>
                <tr th:each="demandante: ${demandantes}">
                    <td th:text="${demandante.nombre}"></td>
                    <td th:text="${demandante.edad}"></td>

                    <td th:text="${demandante.tlf}"></td>
                    <td th:text="${demandante.email}"></td>
                    <td th:text="${demandante.direccion}"></td>

                    <td th:text="${demandante.cod_asist}"></td>

                    <th:block th:switch="${demandante.status}">
                        <td th:case="'ACEPTADO'">
                            <i class="flaticon-approve" title="Demandante aceptado"></i>
                        </td>
                        <td th:case="'SIN REVISAR'">
                            <i class="flaticon-file" title="Demandante sin revisar"></i>
                        </td>
                        <td th:case="'CANCELADO'" title="Demandante cancelado">
                            <i class="flaticon-reject"></i>
                        </td>
                    </th:block>

                   <!-- <td><a th:href="@{/demandante/update/{nick}(nick=${demandante.nick})}"> Edita </a>
                    </td>
                    <td><a th:href="@{/demandante/delete/{nick}(nick=${demandante.nick})}"> Elimina </a>
                    </td>
                    <td>
                        <a th:href="@{/demandante/solicitudes/{nick}(nick=${demandante.nick})}">Ver solicitudes</a>
                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>