<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title> Lista demandantes pendientes </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <h1> Listado de demandantes sin revisar </h1>
    <table class="table">
        <thead>
        <tr>
            <th> nombre</th>
            <th> edad</th>
            <th> tlf</th>

            <th> correo</th>
            <th> direccion</th>
            <th>cod_asist</th>

            <th></th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="demandante: ${demandantes}">
            <td th:text="${demandante.nombre}"></td>
            <td th:text="${demandante.edad}"></td>

            <td th:text="${demandante.tlf}"></td>
            <td th:text="${demandante.email}"></td>
            <td th:text="${demandante.direccion}"></td>

            <td th:text="${demandante.cod_asist}"></td>


            <td>
                <div th:switch="${demandante.cod_asist}">
                    <div th:case="''">
                        <button><a th:href="@{/demandante/accept/codAsist/{nick}(nick=${demandante.nick})}">
                            Aceptar
                        </a>
                        </button>
                    </div>
                    <div th:case="*">
                        <button><a th:href="@{/demandante/accept/{nick}(nick=${demandante.nick})}"> Aceptar </a></button>
                    </div>
                </div>
            </td>

            <td>
                <a th:href="@{/demandante/delete/{nick}(nick=${demandante.nick})}">
                    <i class="flaticon-can"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>