<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title> Modificar demandante </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
<div layout:fragment="content">

    <h2 style="text-align:center"> Modificar perfil </h2>
    <hr>

    <div class="container py-10 ml-lg-5 mt-2">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <!--/*@thymesVar id="demandante" type=""*/-->
                <form action="#" th:action="@{/demandante/update}"
                      th:object="${demandante}" method="post">

                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label>Nombre y apellidos: </label>
                            <input type="text"  class="form-control" th:field="*{nombre}"/>
                            <div class="error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                        </div>

                        <div class="col-sm-2">
                            <label>Edad: </label>
                            <input type="number"  class="form-control" th:field="*{edad}"/>
                            <div class="error" th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-5">
                            <label>Nick: </label>
                            <input type="text"  class="form-control" th:field="*{nick}"/>
                            <div class="error" th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}"></div>
                        </div>

                        <div class="col-sm-5">
                            <label>Contraseña: </label>
                            <input type="password"  class="form-control" th:field="*{pass}"/>
                            <div class="error" th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-5">
                            <label>Teléfono: </label>
                            <input type="text"  class="form-control" th:field="*{tlf}"/>
                            <div class="error" th:if="${#fields.hasErrors('tlf')}" th:errors="*{tlf}"></div>
                        </div>

                        <div class="col-sm-5">
                            <label>Email: </label>
                            <input type="text"  class="form-control" th:field="*{email}"/>
                            <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Dirección: </label>
                            <input type="text"  class="form-control" th:field="*{direccion}"/>
                            <div class="error" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="alert alert-warning">
                                El <strong> codigo de asistente</strong> solo debe completarse si el usuario
                                que realiza la petición es un asistente social
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>Codigo de asistente*: </label>
                            <input type="number"  class="form-control" th:field="*{cod_asist}"/>
                        </div>

                        <input hidden="hidden" th:field="*{status}">

                        <div class="col-sm-6">
                            <td colspan="2"><input type="submit" value="Modificar perfil"/></td>
                        </div>
                    </div>
                </form>
            </div>


        </div>

    </div>
</div>
</body>
</html>