<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Edita un demandante </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>


<body>
<h2> Modificar demandante </h2>
<form action="#" th:action="@{/demandante/update}"
      th:object="${demandante}" method="post">
    <table>
        <tr>
            <td><label> Nick </label></td>
            <td><input type="text" th:field="*{nick}"/></td>
        </tr>

        <tr>
            <td><label> Nombre </label></td>
            <td><input type="text" th:field="*{nombre}"/></td>
        </tr>

        <tr>
            <td><label> Edad </label></td>
            <td><input type="number" th:field="*{edad}"/></td>
        </tr>

        <!-- three more -->

        <tr>
            <td><label> Teléfono </label></td>
            <td><input type="text" th:field="*{tlf}"/></td>
        </tr>
        <tr>
            <td><label> Email</label></td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td><label> Dirección </label></td>
            <td><input type="text" th:field="*{direccion}"/></td>
        </tr>

        <!-- two more -->

        <tr>
            <td><label> Código asistente </label></td>
            <td><input type="number" th:field="*{cod_asist}"/></td>
        </tr>

        <tr>
            <td><label> Status </label></td>
            <td><input type= "text" th:field= "*{status}" /></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Modifica demandante"/></td>
        </tr>
    </table>
</form>
</body>
</html>