<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
    <h1> Listado de franjas libres del voluntario </h1>
    <table>
        <thead>
        <tr>
            <th> id</th>
            <th> nick_voluntario</th>
            <th> dia_semana</th>

            <th> h_ini</th>
            <th> h_fin</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="franja_libre: ${franjas_libres}">
            <td th:text="${franja_libre.id}"></td>
            <td th:text="${franja_libre.nick}"></td>
            <td th:text="${franja_libre.diaSemana}"></td>

            <td th:text="${franja_libre.hIni}"></td>
            <td th:text="${franja_libre.hFin}"></td>
        </tr>
        </tbody>
    </table>

    <br>

    <h1> Listado de franjas ocupadas del voluntario </h1>
    <table>
        <thead>
        <tr>
            <th> id</th>
            <th> nick_voluntario</th>
            <th> dia_semana</th>

            <th> h_ini</th>
            <th> h_fin</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="franja_ocupada: ${franjas_ocupadas}">
            <td th:text="${franja_ocupada.id}"></td>
            <td th:text="${franja_ocupada.nick}"></td>
            <td th:text="${franja_ocupada.diaSemana}"></td>

            <td th:text="${franja_ocupada.hIni}"></td>
            <td th:text="${franja_ocupada.hFin}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>