<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <h2 style="text-align:center"> Franjas asignadas </h2>
    <hr>
    <table th:unless="${#lists.isEmpty(franjas)}" class="table table-striped">
        <tr>
            <th> Día semana</th>
            <th> Hora inicio</th>
            <th> Hora fin </th>
        </tr>

        <tr th:each="index: ${#numbers.sequence( 0, #arrays.length(franjas)-1)}">
            <td th:text="${franjas[index].diaSemana}"></td>
            <td th:text="${franjas[index].hIni}"></td>
            <td th:text="${franjas[index].hFin}"></td>

        </tr>

    </table>
    <a th:href="@{{lastURL}(lastURL=${session.lastURL})}" >
        <i class="flaticon-circle-with-an-arrow-pointing-to-left"></i>
    </a>
</div>
</body>
</html>