<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Lista FSV </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>

<body>
<h1> Listado FSV </h1>
<table>
    <thead>
    <tr>
        <th> Id</th>
        <th> nick</th>
        <th> Dia semana</th>


        <th> Hora inicio</th>
        <th> Hora fin </th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="fsv: ${fsvList}">
        <td th:text="${fsv.id}"></td>
        <td th:text="${fsv.nick}"></td>
        <td th:text="${fsv.diaSemana}"></td>
        <td th:text="${fsv.hIni}"></td>
        <td th:text="${fsv.hFin}"></td>

        <td><a th:href="@{/voluntario/fsv/update/{id}(id=${fsv.id})}"> Edita </a>
        </td>
        <td><a th:href="@{/voluntario/fsv/delete/{id}(id=${fsv.id})}"> Elimina </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>