<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Solicitud de pago</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">

    <h1><b>DETALLES DEL SERVICIO</b></h1>

    <br>
    <b>Tipo de comida: </b>
    <span th:text="${servicioCatering.tipo_comida}"></span>
    <br>

    <b>Días a la semana: </b>
    <ul>
        <span th:if="${#strings.contains(servicioCatering.dias_semana,'L')}">
            <li>Lunes</li>
        </span>
        <span th:if="${#strings.contains(servicioCatering.dias_semana,'M')}">
            <li>Martes</li>
        </span>
        <span th:if="${#strings.contains(servicioCatering.dias_semana,'X')}">
            <li>Miércoles</li>
        </span>
        <span th:if="${#strings.contains(servicioCatering.dias_semana,'J')}">
            <li>Jueves</li>
        </span>
        <span th:if="${#strings.contains(servicioCatering.dias_semana,'V')}">
            <li>Viernes</li>
        </span>
    </ul>

    <b>Hora aproximada: </b>
    <span th:text="${servicioCatering.hora_aprox}"></span>

    <br><br>
    <span th:if="${status == 'SIN EVALUAR'}">
        <button th:value="Aceptar"><a
                th:href="@{/servEmpresa/accept/{nickEmp}/{nickDem}(nickEmp=${servicioCatering.nick_empresa}, nickDem=${servicioCatering.nick_demandante})}" title="Validar servicio">Aceptar</a></button>
    </span>

    <button th:value="Rechazar"><a
            th:href="@{/servEmpresa/cancel/{nickEmp}/{nickDem}(nickEmp=${servicioCatering.nick_empresa}, nickDem=${servicioCatering.nick_demandante})}" title="Denegar servicio">Cancelar</a>
    </button>

    <a th:href="@{/demandante/solicitudes/{nick}(nick=${nick})}" title="Regresar al listado de servicios">
        <i class="flaticon-circle-with-an-arrow-pointing-to-left"></i>
    </a>

</div>
</body>
</html>