<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Solicitud de pago</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">

    <h1><b>DETALLES DEL SERVICIO</b></h1>

    <br>
    <b>Necesidad: </b>
    <span th:text="${servicioSanitario.necesidad}"></span>
    <br>

    <b>Día de visita: </b>
    <span th:text="${servicioSanitario.dia_visita}"></span>
    <br>

    <b>Franja de visita: </b>
    <span th:text="${servicioSanitario.manana_tarde}"></span>

<br><br>
<span th:if="${status == 'SIN EVALUAR'}">
<button th:value="Aceptar"><a th:href="@{/servEmpresa/accept/{nickEmp}/{nickDem}(nickEmp=${servicioSanitario.nick_empresa}, nickDem=${servicioSanitario.nick_demandante})}">Aceptar</a></button>
</span>
<button th:value="Rechazar"><a th:href="@{/servEmpresa/cancel/{nickEmp}/{nickDem}(nickEmp=${servicioSanitario.nick_empresa}, nickDem=${servicioSanitario.nick_demandante})}">Cancelar</a></button>

    <a th:href="@{/demandante/solicitudes/{nick}(nick=${nick})}" >
        <i class="flaticon-circle-with-an-arrow-pointing-to-left"></i>
    </a>

</div>
</body>
</html>