<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Solicitud de pago</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">

    <h2><b>Detalles del servicio</b></h2>
    <hr>

    <div class="article_servs">
        <h2> <u>Servicio Sanitario </u></h2>
        <div th:if="${servicioSanitario != null}">

            <p th:text="'Servicio en estado: ' +
                ${servEmpresaEspSan.serv_status}"> </p>
            <hr>
            <div class="row">
                <th:block th:if="${servEmpresaEspSan.f_ini != NULL}">
                    <p th:text="'Su servicio ha sido revisado favorablemente a fecha: ' +
                        ${servEmpresaEspSan.f_ini}"> </p>
                </th:block>

                <th:block th:if="${servEmpresaEspSan.f_fin != NULL}">
                    <p th:text="'Indico como fecha de finalización el día: ' +
                        ${servEmpresaEspSan.f_fin}"> </p>
                </th:block>

                <p th:text="'Nombre de empresa: ' + ${empresaSan.nombre}
                + ' - El teléfono de contacto es: ' +  ${empresaSan.tlf}"></p>

                <div class="column_50">
                    <h5> <b> Información de petición </b> </h5>
                    <br>
                    <p th:text="'Descripción de consulta: ' + ${servicioSanitario.necesidad}"> </p>
                </div>
                <!-- <p th:text="${servicioCatering.horas_aprox}"> </p> -->
                <div class="column_50">
                    <h5> <b> Especificación de empresa </b> </h5>
                    <br>
                    <p th:text="'Día de visita: ' + ${servicioSanitario.dia_visita}"> </p>

                    <span th:if="${#strings.contains(servicioSanitario.manana_tarde,'T')}">
                        <p>Momento de visita: Tarde </p>
                    </span>

                    <span th:if="${#strings.contains(servicioSanitario.manana_tarde,'M')}">
                        <p>Momento de visita: Mañana </p>
                    </span>


                </div>
            </div>
        </div>
    </div>

    <span th:if="${status == 'SIN EVALUAR'}">
        <button th:value="Aceptar"><a
                th:href="@{/servEmpresa/accept/{nickEmp}/{nickDem}(nickEmp=${servicioSanitario.nick_empresa}, nickDem=${servicioSanitario.nick_demandante})}" title="Validar servicio">Aceptar</a></button>
    </span>

    <button th:value="Rechazar"><a
            th:href="@{/servEmpresa/cancel/{nickEmp}/{nickDem}(nickEmp=${servicioSanitario.nick_empresa}, nickDem=${servicioSanitario.nick_demandante})}" title="Denegar servicio">Cancelar</a>
    </button>

    <a th:href="@{/demandante/solicitudes/{nick}(nick=${nick})}" title="Regresar al listado de servicios">
        <i class="flaticon-circle-with-an-arrow-pointing-to-left"></i>
    </a>

</div>
</body>
</html>