    /*
    Flaticon icon font: Flaticon
    Creation date: 24/05/2020 15:09
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-can:before { content: "\f100"; }
.flaticon-interface:before { content: "\f101"; }
.flaticon-healthcare:before { content: "\f102"; }
.flaticon-kitchen:before { content: "\f103"; }
.flaticon-hot-food:before { content: "\f104"; }
.flaticon-cook:before { content: "\f105"; }
.flaticon-broom:before { content: "\f106"; }
.flaticon-man:before { content: "\f107"; }
.flaticon-user:before { content: "\f108"; }
.flaticon-free-tag-for-commerce:before { content: "\f109"; }
.flaticon-phone-call:before { content: "\f10a"; }
.flaticon-next:before { content: "\f10b"; }
.flaticon-right-arrow-in-circular-button:before { content: "\f10c"; }
.flaticon-arrow-pointing-to-right-in-a-circle:before { content: "\f10d"; }
.flaticon-circle-with-an-arrow-pointing-to-left:before { content: "\f10e"; }
.flaticon-information:before { content: "\f10f"; }
.flaticon-info:before { content: "\f110"; }
    
    $font-Flaticon-can: "\f100";
    $font-Flaticon-interface: "\f101";
    $font-Flaticon-healthcare: "\f102";
    $font-Flaticon-kitchen: "\f103";
    $font-Flaticon-hot-food: "\f104";
    $font-Flaticon-cook: "\f105";
    $font-Flaticon-broom: "\f106";
    $font-Flaticon-man: "\f107";
    $font-Flaticon-user: "\f108";
    $font-Flaticon-free-tag-for-commerce: "\f109";
    $font-Flaticon-phone-call: "\f10a";
    $font-Flaticon-next: "\f10b";
    $font-Flaticon-right-arrow-in-circular-button: "\f10c";
    $font-Flaticon-arrow-pointing-to-right-in-a-circle: "\f10d";
    $font-Flaticon-circle-with-an-arrow-pointing-to-left: "\f10e";
    $font-Flaticon-information: "\f10f";
    $font-Flaticon-info: "\f110";