<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title> MaC - Registro de voluntario </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
<div layout:fragment="content">

    <h2 style="text-align:center"> Registro de voluntario </h2>
    <hr>

    <div class="container py-20 mt-4">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <!--/*@thymesVar id="voluntario" type=""*/-->
                <form action="#" th:action="@{/voluntario/vol_register}"
                      th:object="${voluntario}" method="post">

                    <div class="form-group row">

                        <div class="col-sm-8">
                            <label>Nombre y apellidos: </label>
                            <input type="text"  class="form-control" th:field="*{nombre}" required/>
                        </div>

                        <div class="col-sm-2">
                            <label>Edad: </label>
                            <input type="number"  class="form-control" th:field="*{edad}" required/>
                            <div class="error" th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-5">
                            <label>Nick de usuario: </label>
                            <input type="text"  class="form-control" th:field="*{nick}" required/>
                            <div class="error" th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}"></div>
                        </div>

                        <div class="col-sm-5">
                            <label>Contraseña: </label>
                            <input type="password"  class="form-control" th:field="*{pass}" required/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-5">
                            <label>Teléfono: </label>
                            <input type="text"  class="form-control" th:field="*{tlf}" required/>
                            <div class="error" th:if="${#fields.hasErrors('tlf')}" th:errors="*{tlf}"></div>
                        </div>

                        <div class="col-sm-5">
                            <label>Correo electrónico: </label>
                            <input type="email"  class="form-control" th:field="*{email}" required />
                            <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <label>Aficiones: </label>
                            <textarea type="text"  class="form-control" th:field="*{aficiones}" placeholder="Juegos de mesa, ir de pesca..."/>
                        </div>
                    </div>


                        <div class="container">
                            <div class="button">
                                <td colspan="2"><input type="submit" value="Inscribirse"/></td>
                            </div>
                        </div>
            </form>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>