<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title> MaC - Registro </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
<div layout:fragment="content">

    <h2 style="text-align:center"> Se ha registrado como voluntario correctamente. </h2>
    <h3> Muchas gracias por su participación.</h3>
    <hr><br>

    <div class="container">
        <form action="/">
            <input type="submit" value="Finalizar" />
        </form>
    </div>
</div>
</div>
</body>
</html>