<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Lista voluntarios </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>

<body>
<h1> Listado de voluntarios </h1>
<table>
    <thead>
    <tr>
        <th> nick</th>
        <th> nombre</th>
        <th> edad</th>


        <th> tlf</th>
        <th> correo</th>
        <th>es_activo</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="voluntario: ${voluntarios}">
        <td th:text="${voluntario.nick}"></td>
        <td th:text="${voluntario.nombre}"></td>
        <td th:text="${voluntario.edad}"></td>

        <td th:text="${voluntario.tlf}"></td>
        <td th:text="${voluntario.correo}"></td>
        <td th:text="${voluntario.esActivo}"></td>


        <td><a th:href="@{/voluntario/update/{nick}(nick=${voluntario.nick})}"> Edita </a>
        </td>
        <td><a th:href="@{/voluntario/delete/{nick}(nick=${voluntario.nick})}"> Elimina </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>