<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title> Lista voluntarios </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>

<body>
<div layout:fragment="content">
<h2> Listado de voluntarios </h2>
    <hr>
<table>
    <thead>
    <tr>
        <th> Nombre</th>
        <th> Teléfono</th>

        <th> Correo</th>
        <th> Aficiones</th>
        <th> Estado</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="voluntario: ${voluntarios}">
        <td th:text="${voluntario.nombre}"></td>
        <td th:text="${voluntario.tlf}"></td>

        <td th:text="${voluntario.email}"></td>
        <td th:text="${voluntario.aficiones}"></td>

        <th:block th:switch="${voluntario.status}">
            <td th:case="'ACEPTADO'">
                <i class="flaticon-approve"></i>
            </td>
            <td th:case="'SIN REVISAR'">
                <i class="flaticon-file"></i>
            </td>
            <td th:case="'CANCELADO'">
                <i class="flaticon-reject"></i>
            </td>
        </th:block>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>