<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title> FSV </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
    <h2 style="text-align:center"> Disponibilidad para ofrecer ayuda </h2>
    <hr>
    <h3>
        Añadir franjas horarias:
    </h3>
    <div th:replace="fragments/franjas" >...</div>


    <div class="container">
        <div class="button">
            <a th:href="@{/voluntario/modif_franjas}">Modificar</a>
        </div>
    </div>

</div>


</body>
</html>