<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title> Crear nou demandante </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
<div layout:fragment="content">

    <h2 style="text-align:center"> Registrarse como voluntario </h2>
    <hr>

    <div class="container py-8">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <!--/*@thymesVar id="voluntario" type=""*/-->
                <form action="#" th:action="@{/voluntario/vol_register}"
                      th:object="${voluntario}" method="post">

                    <div class="form-group row">

                        <div class="col-sm-6">
                            <br>
                            <label>Nick: </label>
                            <input type="text"  class="form-control" th:field="*{nick}"/>
                            <br>
                        </div>

                        <div class="col-sm-6">
                            <br>
                            <label>Contraseña: </label>
                            <input type="password"  class="form-control" th:field="*{pass}"/>
                            <br>
                        </div>

                        <div class="col-sm-6">
                            <br>
                            <label>Nombre y apellidos: </label>
                            <input type="text"  class="form-control" th:field="*{nombre}"/>
                            <br>
                        </div>


                        <div class="col-sm-6">
                            <br>
                            <label>Edad: </label>
                            <input type="number"  class="form-control" th:field="*{edad}"/>
                            <br>
                        </div>

                        <div class="col-sm-6">
                            <br>
                            <label>Teléfono: </label>
                            <input type="text"  class="form-control" th:field="*{tlf}"/>
                            <br>
                        </div>

                        <div class="col-sm-6">
                            <br>
                            <label>Email: </label>
                            <input type="text"  class="form-control" th:field="*{email}"/>
                            <br>
                        </div>

                        <div class="col-sm-12">
                            <br>
                            <label>Aficiones: </label>
                            <textarea type="text"  class="form-control" th:field="*{aficiones}"/>
                            <br>
                        </div>


                        <div class="container">
                            <div class="error" th:if="${#fields.hasErrors('all')}" th:errors="*{all}"></div>
                            <div class="button">
                                <td colspan="2"><input type="submit" value="Continuar"/></td>
                            </div>
                        </div>
                    </div>


                </form>
</body>
</html>