<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<link rel="stylesheet" type="text/css" href="../static/css/style-guide.css" th:href="@{/css/style-guide.css}"/>
<link rel="stylesheet" type="text/css" href="../static/icons/flaticon.css" th:href="@{/icons/flaticon.css}"/>

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <!-- app css
    <link type="text/css" th:href="@{/css/natacio.css}" href="/css/natacio.css"
          rel="stylesheet"/>
    <title layout:title-pattern="$CONTENT_TITLE"> Club de natació </title>
     -->
</head>

<body class="container">
<header >

        <div id="epicFlower" style="width: 25%;float:left">
            <img src = "../static/images/icono.png" th:src="@{/images/icono.png}"
                 style="width:150px;height:139px" alt="image not found">
        </div>
        <div style="width: 75%; float:right">
            <h1 style="; font-size: 600%"> Majors a Casa </h1>
        </div>

    <div style="width: 100%;">_________________________________________________________________________________________</div>
</header>
<div th:replace="fragments/nav"></div>


<div th:object="${session}">
<th:block th:if="*{user != null}">

<div class="row">
    <div class="lateralNav">
        <div th:replace="fragments/lateralNav"></div>
    </div>
    <div class="indexBasicContainer">
        <BR>
        <div layout:fragment="content"></div>
    </div>
</div>
</th:block>


<!--
<th:block th:if="*{user != null}">
    <th:block th:if="*{user.nick == null}">
        <div class="row">
            <div class="noRegisterBasicContainer">
                <BR>
                <div layout:fragment="content"></div>
            </div>
        </div>
    </th:block>
</th:block>
-->

<th:block th:if="*{user == null}">
<div class="row">
    <div class="noRegisterBasicContainer">
    <BR>
    <div layout:fragment="content"></div>
</div>
</div>
</th:block>
</div>


<div class="f">
    <hr>
    <p class="text-muted" style="text-align:center"> System based on Momo-PB technology 2020 ® <BR> EI1027 - Disseny i Implementació de
        Sistemes d'Informació </p>
</div>


</body>
</html>