<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Lateral Nav </title>
    <meta charset="UTF-8"/>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<br>
<h2>Acciones</h2>
<hr>

<div th:object="${session}">

    <div th:if="*{user!= null}">

        <!-- <div th:switch="${user.role}">
            <p th:case="'admin'">User is an administrator</p>
            <p th:case="#{roles.manager}">User is a manager</p>
            <p th:case="*">User is some other thing</p>
        </div> -->

        <div th:if="*{user.rol.equals('RESP_CAS')}">
            <a href="/empresa/add">AÑADIR EMPRESA</a>
            <a href="/empresa/list">LISTADO DE EMPRESAS</a>
            <a href="/servEmpresa/listWithType"> LISTADO SERVICIOS EMPRESAS</a>
        </div>

        <div th:if="*{user.rol.equals('COMITE_CAS')}">
            <a href="/demandante/listSinRevisar">Listado de demandantes sin revisar</a>
            <a href="/demandante/listAceptados">Listado de demandantes aceptados</a>
            <a href="/demandante/list">Listado de demandantes en sistema</a>
            <a href="/demandante/add"> Crear ayuda a domicilio </a>
        </div>

        <div th:if="*{user.rol.equals('SUPERVISOR_CAS')}">
            <a href="/voluntario/listSinRevisar">Listado de voluntarios sin revisar</a>
            <a href="/voluntario/listAceptados">Listado de voluntarios aceptados</a>
            <a href="/voluntario/list">Listado de voluntarios en sistema</a>
        </div>

        <div th:if="*{user.rol.equals('DEMANDANTE')}">
            <a href="/demandante/solicitudesPago">Solicitudes de pago</a>
            <a href="/demandante/solicitudesVolun">Solicitudes de voluntario</a>
            <a href="/demandante/update">Modificar perfil</a>
        </div>

        <div th:if="*{user.rol.equals('VOLUNTARIO')}">
            <a href="/servVoluntario/asignaciones/list">Solicitudes pendientes</a>
            <a href="/voluntario/vol_applicants_list">Demandantes asignados</a>
            <a href="/voluntario/fsv/modif_schedule">Modificar disponibilidad</a>
            <a href="/voluntario/vol_update"> Modificar datos </a>
            <a href="/voluntario/remove_user"> Darse de baja </a>

        </div>

        <div th:if="*{user.rol.equals('EMPRESA')}">
            <a href="/empresa/listPendientes">Feedback a Demandantes en Espera </a>
            <a href="/empresa/listAsignaciones">Servicios activos</a>
        </div>

    </div>
    </div>
</body>
</html>