
<!--
<ul class="nav">
    <li class="nav nav-pills nav-fill">
        <a class="nav-link active" href="/home">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ayuda a domicilio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ofrecer ayuda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>-->
<nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="/index.html">Majors a casa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div th:object="${session}">
        <div th:if="*{user == null}">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/" title="Página de inicio">Inicio </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/demandante/add">Ayuda a domicilio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/voluntario/register">Quiero ayudar</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/team" title="Conozca a MomoPB">Quienes somos</a>
                </li>
            </ul>
        </div>

        <div th:if="*{user!= null}">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" title="Página de inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled"  href="#" tabindex="-1"
                       aria-disabled="true" title="Opción accesible solo para usuario no registrado" >Ayuda a domicilio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled"  href="#" tabindex="-1"
                       aria-disabled="true" title="Opción accesible solo para usuario no registrado">Quiero ayudar</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/team" title="Conozca a MomoPB">Quienes somos</a>
                </li>
            </ul>
        </div>
        </div>

        <ul class="navbar-nav ml-auto">
            <div  class="nav-item" style="float:right;" th:replace="fragments/logininfo"></div>
        </ul>
    </div>
</nav>