
<!--
<ul class="nav">
    <li class="nav nav-pills nav-fill">
        <a class="nav-link active" href="/home">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ayuda a domicilio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ofrecer ayuda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Majors a casa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/demandante.html">Ayuda a domicilio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quiero ayudar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>

            <div style="float: right" th:replace="fragments/logininfo"></div>
        </ul>

    </div>
</nav>