<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Franjas de un servicio</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid py-10 mt-2">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th> Dia de la semana </th>
                    <th> Hora inicio </th>
                    <th> Hora finalización</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="franja: ${franjas}">
                    <div th:switch="${franja.diaSemana}">
                        <div th:case="'L'">
                            <td>Lunes</td>
                        </div>
                        <div th:case="'M'">
                            <td>Martes</td>
                        </div>
                        <div th:case="'X'">
                            <td>Miércoles</td>
                        </div>
                        <div th:case="'J'">
                            <td>Jueves</td>
                        </div>
                        <div th:case="'V'">
                            <td>Viernes</td>
                        </div>
                        <div th:case="*">
                            <td>ERROR</td>
                        </div>
                    </div>
                    <td th:text="${franja.hIni}"></td>
                    <td th:text="${franja.hFin}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <th:block th:if="*{user.rol.equals('EMPRESA')}">
        <a th:href="@{/empresa/listAsignaciones}" title="Regresar al listado de asignaciones">
            <i class="flaticon-circle-with-an-arrow-pointing-to-left"></i>
        </a>

    </th:block>

    <th:block th:if="*{user.rol.equals('COMITE_CAS')}">
        <a th:href="@{/servEmpresa/view/{nicke}/{nickd}(nickd=${nickDem}, nicke=${nickEmp})}" title="Regresar a la página informativa del servicio">
            <i class="flaticon-circle-with-an-arrow-pointing-to-left"></i>
        </a>
    </th:block>

</div>


</div>
</body>
</html>