<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar servicio voluntario</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="contenedor">
        <div class="listado">
            <form action="#" th:action="@{/servVoluntario/add}" method="post">
                <div class="selector">
                    <b>¿Desea un servicio de acompañamiento?:</b>
                    <br>
                    <br><input type="radio" th:name="rd_servicio" th:value="true" checked> Sí
                    <br><input type="radio" th:name="rd_servicio" th:value="false"> No
                </div>

                <table class="lista">
                    <thead>
                        <tr>
                            <th>Día</th>
                            <th>Hora inicio</th>
                            <th>Hora final</th>
                            <th>Aficiones</th>
                            <th>Información</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="fr_vol: ${franjas}">
                            <td th:text="${fr_vol.diaSemana}"></td>
                            <td th:text="${fr_vol.hIni}"></td>
                            <td th:text="${fr_vol.hFin}"></td>
                            <td th:text="${aficiones[fr_vol.id]}"></td>
                            </th:block>
                            <td><a href="#">más info</a></td>
                            <td><input type="checkbox" th:value="${fr_vol.id}" th:name="cb_seleccion"></td>
                        </tr>
                    <tr>
                        <td>(Si se requiere) Fecha finalización: </td>
                        <td><input type="date" th:name="fecha_voluntrario"></td>
                    </tr>
                    </tbody>
                </table>
                <input hidden="hidden" type="text"th:name="nickDem" th:value="${nick}">
                <input type="submit" value="Continuar">
            </form>
        </div>
    </div>
</body>
</html>