/*
    Guia de estilo para la pagina web
*/

@import url('https://fonts.googleapis.com/css?family=Muli:400|Poppins:400');

/* MODELADO de los ELEMENTOS*/

html {
    font-size: 100%; /* 16px */
}

body {
    color: #000305; /* Text color */
    font-family: 'Muli', sans-serif  !important; /* Text typography */
    line-height: 1.5; /* Distance between lines */
}

h1,h2{
    text-align:center;
}

/*
    Items de formulario
 */

label{
    font-weight: 480;
    line-height: 1.25;
    font-family: 'Muli', sans-serif; /* Text typography */
    font-size: 1.21rem;
}

input[type=submit]{
    border: 2px solid green;

    padding: 5px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100em;
    background: #1abd9a;
    transition: 0.3s;
}

input[type=submit]{
    cursor: pointer;
}

input[type=submit]:hover{
    background: #15a085;
    opacity: 1;
}






/* Header; Navegacion superior & footer */

header{
    margin-right: -20px;
    margin-left: -20px;
    background-color: #bfbcd5a8;
}


.navbar-expand-lg {
    /*background-color: #f1f2f3;*/
    background-color: #5f5f5f;
    color: white;
    margin-right: -20px;
    margin-left: -20px;
    font-size: 1.12em ;
}


.navbar-expand-lg a{
    color: #b1f2ff !important;     /* Text color, changed when link and visited*/
}

.navbar-expand-lg a:hover{
    color: ghostwhite !important; /* Text color, changed when link and visited*/
}


.f {
    margin-right: -20px;
    margin-left: -20px;
    width: 103.6%;
    float: left;
    color: white;
    background-color: #343a40;
    padding: 5px;
    font-size: 1.1em;
}

.f hr{
    color: white;
}



/* Caja de loggeo */

.logBox{
    border-radius: 10px;
    border: 4px solid #5f5f5f;

    width: 40%;

    position: relative;
    top: 10%;
    left: 30%;
    right: 60%;
    bottom: 10%;
    padding: 40px;

}

/* Articles de home */
article {
    background-color: #f1f1f1;
    padding: 15px;

    margin-top: 25px;


    position: relative;
    width: 90%;
    left: 5%;
    top: 10%;
}


.row {
    position: center;
    margin-left: -20px !important;
    margin-right: -20px !important;
}

/*
    COMPONENTE DE NAVEGACION LATERAL
 */

.lateralNav{
    float: left;
    width: 20%;
    background-color:#F1F1F1;
    padding: 10px;
    display: block;
}

.lateralNav a:link, a:visited {
    /* padding: 8px 8px 8px 32px; */
    color: #3498db;
    background-color: #F1F1F1;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    font-size: 1.2em;
}

.lateralNav a:hover, a:active {
    background-color: #cccccc;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.loggeduser {
    float: right;
}


/*
    COMPONENTE DE CONTENEDOR GENERAL
*/

.indexBasicContainer {
    float: right;
    width: 80%;
    background-color:#90c6ed;
    /* background-color:#34495e; temática más oscura*/
    padding: 10px;
    text-align: center;
}


.noRegisterBasicContainer{
    width: 100%;
    background-color:#90c6ed;
    /* background-color:#34495e; temática más oscura*/
    padding: 10px;
    text-align: center;
}

/*
    Listado tipo tabla
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2.3px solid black;
    page-break-inside:auto;
}
thead{
    display:table-header-group;
}

th {
    background-color: #5774ac;
    color: white;
    text-align: center;
    text-align:-moz-center;
    padding: 15px;
}

tr{
    background-color: #afc0d7;
    page-break-inside:avoid; page-break-after:auto
}

tr:nth-child(even){background-color: #cfdaea}

tfoot{
    display:table-footer-group
}

/*
 * Iconos
 */

.flaticon-can{
    color:red;
}

.flaticon-healthcare{
    color:palevioletred;
}

.flaticon-broom{
    color:saddlebrown;
}


.form-group{
    justify-content:center;
}


/*
    Las tres columnas para

 */

.column{
    float: left;
    width: 33.33%;
    padding: 10px;
}

.column_50{
    float: left;
    width: 50%;
    padding: 20px;

}




/*
    Buttoms
 */
.editButton{

    border: 2px solid green;

    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100em;
    background: #f3c70e;
    transition: 0.3s;

    color: #333333;
    border-top: 0.5px solid #CCCCCC;
    border-right: 0.5px solid #333333;
    border-bottom: 0.5px solid #333333;
    border-left: 0.5px solid #CCCCCC;
}

.deleteButton{
    -webkit-appearance: button;
    -moz-appearance: button;

    text-decoration: none;
    color: initial;
}




h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    font-weight: 400;
    line-height: 1.15;
    font-family: 'Muli', sans-serif; /* Text typography */
}

h1.top, h2.top, h3.top, h4.top, h5.top {
    margin: 1.05rem 0 1.05rem;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}










h1 {
    margin-top: 0;
    font-size: 3.52em;
}

h2 {font-size: 2.8em;}

h2.logo {
    font-size: 130%;
}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {
    font-size: 0.8em;
    font-style: italic;
}

p {
    width: 92%; /* Occupied space of the paragraph */
    margin: 2% auto; /* Free space margin -> [2%] up and down --- [auto] left and right */
    color: #000305; /* Color of the text inside the paragraph */
}

/* Normal style links*/
a {
    text-decoration: none; /* Decoration added to the text = none (it refers to text-decoration-line, wich means it doesn't have an underline) */
    /*text-transform: uppercase;*/
}
a:link, a:visited {
    color: #3498db; /* Text color, changed when link and visited*/
}

a:hover, a:active {
    text-decoration: underline;
    color: #3498db; /* Text color, changed when hover and active*/
}



.header{
    height: 100px;
    background: #34495e;
    margin: 20px 10px;
    padding: 0 20px;
    color: #fff;
}
.logo{
    line-height: 65px;
    float: left;
    text-transform: uppercase;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width:800px) {
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
}


/* Metodos para resaltar mejor en que elemento estamos situados */
:focus {
    outline: none; /* Outline property when focus at one object. It removes the outline with none */
    box-shadow: 0 0 0 4px #cd4dcc; /* Applies a box-shadow arround the object to make it appear clearer. 0 = H_Offset --- 0 = V_Offset --- 0 = Blur --- 4px = spread --- #cd4dcc = color */
}

input:focus {
    border-color: transparent; /* Boder property. Color transformed into = transparent */
}


/* ########################################################################################### */

/* BUTTONS */
/* Cambio del tipo de sombra en los botones para evitar efectos raros cuando estamos situados en ese boton */

button:focus {
    box-shadow: 0 0 0 4px #cd4dcc; /* , 0 15px 30px 0 #999; */
    border-color: transparent;
}

/* BUTTON TYPES */
.button {
    margin: 0.75em 0.37em; /* Free space margin -> [2%] up and down --- [auto] left and right */
}
.importantButton {
    width: 70%;
    align-items: center;
    justify-content: center;
}

/* Call to Action Button - Big Sized. Circular borders [RoundedButton = Max rounded border-radius]. Filled with colour. STYLE = Solid */
.callToAction {
    font-size: 100%;
    display: inline-block; /* Displays an element as an inline-level block container. The element itself is formatted as an inline element, but you can apply height and width values */
    padding: 1em 2.93em; /* generate space around an element's content, inside of any defined borders. Relative to the font-size of the element same as % (2em means 2 times the size of the current font) */
    background: #15a085;
    text-decoration: none;
    color: white;
    border: solid 2px #67c5ff;
    border-radius: 100em;
    transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    cursor: pointer;
}
.callToAction:hover {
    background: #FFF;
    color: #67c5ff;
}

/* Primary Action Button - Big Sized. Slightly rounded borders. Filled with colour. STYLE = Solid */
.primaryAction {
    font-size: 100%;
    display: inline-block; /* Displays an element as an inline-level block container. The element itself is formatted as an inline element, but you can apply height and width values */
    padding: 1em 3em; /* generate space around an element's content, inside of any defined borders. Relative to the font-size of the element same as % (2em means 2 times the size of the current font) */
    background: #1abd9a;
    text-decoration: none;
    color: white;
    border: solid 2px #15a085;
    border-radius: 100em;
    transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    cursor: pointer;
}
.primaryAction:hover {
    background: #FFF;
    color: #15a085;
}

/* Secondary Action Button - Big Sized. Slightly rounded borders. Not filled with colour. Transparent background. Outlined with the same colour as the Primary Button. STYLE = Line */
.secondaryAction {
    font-size: 100%;
    display: inline-block; /* Displays an element as an inline-level block container. The element itself is formatted as an inline element, but you can apply height and width values */
    padding: 1em 3em; /* generate space around an element's content, inside of any defined borders. Relative to the font-size of the element same as % (2em means 2 times the size of the current font) */
    background: #15a085;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 5px;
    transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    cursor: pointer;
}
.secondaryAction:hover {
    background: #67c5ff;
    color: white;
}

/* Terciary Action Button - Medium/Small Sized. Slightly rounded borders. Filled with colour. */
.terciaryAction {
    font-size: 80%;
    display: inline-block; /* Displays an element as an inline-level block container. The element itself is formatted as an inline element, but you can apply height and width values */
    padding: 0.4em 1.2em; /* generate space around an element's content, inside of any defined borders. Relative to the font-size of the element same as % (2em means 2 times the size of the current font) */
    background: #15a085;
    text-decoration: none;
    color: white;
    border: solid 2px #67c5ff;
    border-radius: 5px;
    transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    cursor: pointer;
}
.terciaryAction:hover {
    background: #FFF;
    color: #67c5ff;
}

/* Floating Action Button - Big/Medium Sized. Circular borders. Filled with colour. Shadow to make it pop */
.floatingAction {

}


/* ########################################################################################### */
/* CUSTOM CHECKBOXES */

/* The container */
.containerCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmarkCheck {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.containerCheck:hover input ~ .checkmarkCheck {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.containerCheck input:checked ~ .checkmarkCheck {
    background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkCheck:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.containerCheck input:checked ~ .checkmarkCheck:after {
    display: block;
}
/* Style the checkmark/indicator */
.containerCheck .checkmarkCheck:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ########################################################################################### */

/* CUSTOM RADIO BUTTONS */
/* The container */
.containerRadio {
    position: relative;
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.containerRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.checkmarkRadio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.containerRadio:hover input ~ .checkmarkRadio {
    background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.containerRadio input:checked ~ .checkmarkRadio {
    background-color: #2196F3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkRadio:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
.containerRadio input:checked ~ .checkmarkRadio:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.containerRadio .checkmarkRadio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}



/* ########################################################################################### */

/* MODELADO de las CLASES */
.body {
    margin: 0 auto;
    width: 80%;
    clear: both;
}

.contenedor {
    background-color: #f9f9f9;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari and Chrome */
    margin: 15px auto;
    padding: 10px 25px;
}

.centeredContent {
    text-align:center;
}

.sameLine {
    display: inline;
    /*padding: 3% 5%;*/
}



/* ########################################################################################### */

/* OTROS CONTENIDOS */

.mainContent {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari and Chrome */
    /* overflow: hidden;
    */
}

.content {
    width:70%;
    background-color: #FFE;
    float: left;
}

.topContent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari and Chrome */
    padding: 3% 5%;
    margin-top: 2px;
}

.bottomContent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari and Chrome */
    padding: 3% 5%;
    margin-top: 2px;
}

.top-sidebar {
    width: 21%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari and Chrome */
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
}

.post-info {
    font-style: italic;
    color: #999;
    font-size: 90%;
}

.middle-sidebar {
    width: 21%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari and Chrome */
    margin-left: 3%;
    margin-bottom: 2%;
    padding: 2% 3%;
}

.bottom-sidebar {
    width: 21%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari and Chrome */
    margin-left: 3%;
    margin-bottom: 2%;
    padding: 2% 3%;
}


.mainFooter p {
    width: 92%;
    margin: 2% auto;
    color: #FFF;
}
