
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>


<!-- Para usar el CSS
<link rel="stylesheet" type="text/css"
          href="/css/natacio.css"
          th:href="@{/css/natacio.css}"/>-->



    <title>Login</title>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<link rel="stylesheet" type="text/css"
      href="/static/css/natacio.css"
      th:href="@{/static/css/login.css}"/>
<body>
<div layout:fragment="content">

<form action="#" th:action="@{/login}"
      th:object="${user}" method="post">

    <div class="logBox">

        <div class="form-group row">
                <h2>Acceso</h2>
                <hr>
            <div class="col-sm-10">
                <label>Usuario:  </label> <br>
                    <input class="form_control" type="text" th:field="*{nick}"/>
                    <div class="error" th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}"></div>
            </div>
            <br>
            <div class="col-sm-10">
                <br>
                <label>Contraseña: </label> <br>
                    <input class="form_control" type="password" th:field="*{pass}"/>
                    <div class="error" th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></div>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-6">
                <br>
        <input type="submit" value="Acceder" />
            </div>
    </div>
    </div>



</form>

</div>
</body>
</html>
