<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Crear nuevo empresa </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
<h2> Actualizar resp. empresa </h2>
<form action="#" th:action="@{/respEmpresa/update}"
      th:object="${respEmpresa}" method="post">
    <table>
        <tr>
            <td><label> Nick </label></td>
            <td><input type="text" th:field="*{nick}"/></td>
        </tr>

        <tr>
            <td><label> Contraseña </label></td>
            <td><input type="password" th:field="*{pass}"/></td>
        </tr>

        <tr>
            <td><label> Nombre </label></td>
            <td><input type="text" th:field="*{nombre}"/></td>
        </tr>
        <tr>
            <td><label> CIF </label></td>
            <td><input type="text" th:field="*{cif}"/></td>
        </tr>

        <!-- three more -->

        <tr>
            <td><label> tlf </label></td>
            <td><input type="text" th:field="*{tlf}"/></td>
        </tr>
        <tr>
            <td><label> Correo</label></td>
            <td><input type="text" th:field="*{correo}"/></td>
        </tr>


        <tr>
            <td colspan="2"><input type="submit" value="Actualizar empresa"/></td>
        </tr>
    </table>
</form>
</body>
</html>