<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar servicio de pago</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="solServEmpresa.css" th:href="@{solServEmpresa.css}">-->
</head>
<body>

<header class="header"> CABECERA </header>
<h2>SELECCIONAR SERVICIO DE PAGO</h2>
<div class="contenedor">
    <aside class="aside">MENU IZQUIERDA</aside>

    <article class="article">
        <form action="#" th:action="@{/servEmpresa/add}" method="post">
            <div class="formulario">
                <div class="zonaServicios">

                    <div class="selectorServicios">
                        <b>Servicios disponibles:</b>
                        <br>
                        <br><input type="checkbox" th:value="catering" th:name="servicios"> Servicio catering
                        <br><input type="checkbox" th:value="sanitario" th:name="servicios"> Servicio sanitario
                        <br><input type="checkbox" th:value="limpieza" th:name="servicios"> Servicio limpieza
                    </div>
                    <div class="infoSelector">
                        Se habilitarán las casillas de información de la derecha en función de las opciones que haya elegido en el cuadro superior.
                    </div>
                    <div class="infoPrecio">
                        <b>TABLA DE PRECIOS</b>
                        <br>
                        <br>Servicio sanitario:	    		5 euros/visita<br>
                        Servicio de catering:		5 euros/día<br>
                        Servicio de Limpieza: 		5 euros/hora<br>

                    </div>
                </div>

                <div class="zonaOpciones">
                    <div class="catering">
                        <u><b>SERVICIO CATERING:</b></u>
                        <br>
                        <table class="formCatering">
                            <tr>
                                <td><b>Tipo de menu:</b> </td>
                                <td><input type="radio" name="menu" th:field ="${servCatering.tipo_comida}" th:value="DIABETICO"> Diabético</td>
                                <td><input type="radio" name="menu" th:field ="${servCatering.tipo_comida}" th:value="BAJO_SAL">Bajo en sal</td>
                                <td><input type="radio" name="menu" th:field ="${servCatering.tipo_comida}" th:value="BAJO_GRASA">Bajo en grasa</td>
                                <td><input type="radio" name="menu" th:field ="${servCatering.tipo_comida}" th:value="NADA">Sin restricciones</td>
                            </tr>
                            <tr>
                                <td><b>Día de la semana: </b></td>
                                <td><input type="checkbox" th:name="dias_catering" th:value="Lunes">Lunes</td>
                                <td><input type="checkbox" th:name="dias_catering" th:value="Martes">Martes</td>
                                <td><input type="checkbox" th:name="dias_catering" th:value="Miercoles">Miércoles</td>
                                <td><input type="checkbox" th:name="dias_catering" th:value="Jueves">Jueves</td>
                                <td><input type="checkbox" th:name="dias_catering" th:value="Viernes">Viernes</td>
                            </tr>
                            <tr>
                                <td><b>(Si se requiere) Fecha finalización: </b></td>
                                <td><input type="date" th:name="fecha_catering"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="sanitario">
                        <u><b>SERVICIO SANITARIO</b></u>
                        <table class="formSanitario">
                            <tr>
                                <td><b>Descripción: </b></td>
                                <td><input type="text" th:field="${servSanitario.necesidad}"></td>
                            </tr>
                            <tr>
                                <td><b>(Si se requiere) Fecha finalización: </b></td>
                                <td><input type="date" th:name="fecha_sanitario"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="limpieza">
                        <u><b>SERVICIO LIMPIEZA</b></u>
                        <table class="formLimpieza">
                            <tr>
                                <td><b>Horas semanales: </b></td>
                                <td><input type="number" th:field="${servLimpieza.horas}"></td>
                            </tr>
                            <tr>
                                <td><b>(Si se requiere) Fecha finalización: </b></td>
                                <td><input type="date" th:name="fecha_limpieza"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <input hidden="hidden" type="text"th:name="nickDem" th:value="${nick}">
            <button type="submit" value="Finalizar">Finalizar</button>
        </form>
    </article>
</div>
<footer class="footer">PIE DE PAGINA</footer>
</body>
</html>