<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <!-- <link rel="stylesheet" type="text/css"
          href="/css/natacio.css"
          th:href="@{/css/natacio.css}"/> -->
    <title> MaC - Servicios Empresa </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
<div layout:fragment="content">

<h2> Listado de servicio de empresas </h2>
    <hr>

    <div th:if="${#lists.isEmpty(servicios_empresa)}">
        <article>
            <h4> No hay ningún servicio empresa en la base de datos. </h4>
        </article>
    </div>

    <div class="container py-10">
    <div th:unless="${#lists.isEmpty(servicios_empresa)}" class="table-responsive">
        <table class="table">
    <thead>
    <tr>
        <th> Nick de Empresa </th>
        <th> Nick de Demandante </th>
        <th> Fecha de fin (si fue requerido) </th>

        <th> Estado del servicio</th>
        <th> Tipo servicio</th>
    </tr>


    </thead>
    <tbody>
    <tr th:each="servicio_empresa: ${servicios_empresa}">
        <td th:text="${servicio_empresa.nick_empresa}"></td>
        <td th:text="${servicio_empresa.nick_demandante}"></td>
        <td th:text="${servicio_empresa.f_fin}"></td>

        <td th:text="${servicio_empresa.serv_status}"></td>
        <th:block th:switch="${servsTipo[servicio_empresa.nick_empresa]}">
            <td th:case="'CATERING'">
                <span class="flaticon-cook"></span>
            </td>
            <td th:case="'SANITARIA'">
                <i class="flaticon-healthcare"></i>
            </td>
            <td th:case="'LIMPIEZA'">
                <i class="flaticon-broom"></i>
            </td>
        </th:block>




   <!--     <td><a th:href="@{/empresa/update/{nick}(nick=${empresa.nick})}"> Aceptar petición </a>
        </td>
        <td><a th:href="@{/empresa/delete/{nick}(nick=${empresa.nick})}"> Cancelar petición </a>
        </td>
        -->
    </tr>
    </tbody>
</table>
    </div>
    </div>
</div>
</body>
</html>