*{
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Sriracha', cursive;
}

h2{
    text-align: center;
    align-content: center;
}

.header{
    text-align: center;
    align-content: center;
    height: 30%;
    width: 100%;
}

.contenedor{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin-left: 40px;
}

.aside{
    border-right: black 3px solid;
}

.article{
    margin-left: 20px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}
    .formulario{
        height: auto;
        width: 100%;
        display: flex;
    }
    .zonaServicios{
        height: auto;
        width: 40%;
        border-right: black 1px solid;
    }

    .selectorServicios{
        height: auto;
        width: 100%;
        margin-bottom: 10px;
        border: black 1px solid;
    }

        .infoSelector{
            height: auto;
            width: 100%;
            background-color: darkgrey;
            border: 1px black solid;
            margin-bottom: 10px;
        }

        .infoPrecio{
            text-align: center;
            height: auto;
            width: 100%;
            background-color: lightskyblue;
        }


.zonaOpciones{
    height: auto;
    width: 100%;
}
.catering{
    width: 100%;
    border-bottom: black solid 1px;
}

.sanitario{
    border-bottom: black solid 1px;
}

.limpieza{

}

.footer{
    border-top: black 3px solid;
    text-align: center;
    padding: 20px;
}

td{
    padding: 10px;
}

button{
    border-right: 15px;
    float: right;
}